* {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container header{
    display: flex;
    justify-content: space-between;
    margin: 30px 100px;
}

.navigation {
    display: flex;
    margin: auto;
    justify-content: center;

}

.navigation a {
    margin: 15px;
    text-decoration: none;
}

.container {
    margin: 30px;
    /* display: flex; */
    justify-content: center;
    border: 1px solid rgb(43, 111, 212);
}

.photo-gallery {
    margin: 100px;
}

.active{
    text-decoration: underline!important;
}

.page_not_found{
    margin-top: 40vh;
}
